#resumeInfo h3 {
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 8px;
}

#resumeInfo input {
  color: white;
  background: black;
  padding: 0 4px;
  font-size: 18px;
  margin: 8px 0;
}

#resumeInfo textarea {
  color: white;
  background: black;
}